@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
.App {
  text-align: center;
}
h1 {
  font-family: 'Josefin Sans', cursive;
  text-align: center;
  padding: 50px;  
  color: purple;
}

.buttons{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 50px;
}
.startpoint{
  /* height:20px; */
  width:100px;
  border:10px;
  /* border-color: blue; */
  background-color:whitesmoke;
  margin: 0 auto;
  text-align: center;
  border-radius:5%;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
#start{
    height: 45px;
    width: 150px;
    /* color: rgb(138, 87, 87); */
    background-color: aqua;
    margin: 20px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius:5%;
}
#pause{
height: 45px;
width: 150px;
color: rgb(138, 87, 87);
background-color: aqua;
margin: 20px;
font-size: 25px;
font-family: Arial, Helvetica, sans-serif;
border-radius:5%;
}

#reset{
  height: 45px;
  width: 150px;
  color: rgb(138, 87, 87);
  background-color: aqua;
  margin: 20px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius:5%;
}
